/Web art community/nbproject/private/
/Web art community/build/
/Web art community/dist/
/Lab1/nbproject/private/
/Lab1/build/
/v2/Lab1/nbproject/private/
/v2/SE1740/SE1740/build/
/v2/SE1740/SE1740/dist/
/v2/SE1740/SE1740/nbproject/private/
/v2/SE1740/Lab1/build/
/v2/SE1740/Lab1/dist/
/v2/SE1740/Lab1/nbproject/private/
/Lab2/nbproject/private/
/Lab2/dist/
/Lab2/build/
/Lab3/nbproject/private/
/Lab3/dist/
/Lab3/build/
