<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginSession</servlet-name>
        <servlet-class>controller.LoginSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeInfoCheck</servlet-name>
        <servlet-class>controller.changeInfoCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeInfo</servlet-name>
        <servlet-class>controller.changeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryControl</servlet-name>
        <servlet-class>controller.GalleryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageVisitControl</servlet-name>
        <servlet-class>controller.imageVisitControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeLike</servlet-name>
        <servlet-class>controller.changeLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryInitial</servlet-name>
        <servlet-class>controller.GalleryInitial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSession</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeInfoCheck</servlet-name>
        <url-pattern>/changeInfoCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeInfo</servlet-name>
        <url-pattern>/changeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryControl</servlet-name>
        <url-pattern>/gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageVisitControl</servlet-name>
        <url-pattern>/imageVisitControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeLike</servlet-name>
        <url-pattern>/changeLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryInitial</servlet-name>
        <url-pattern>/galleryInitial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
