.navbar .container-fluid {
  background-color: #00a06b;
}
.navbar-brand {
  color: aliceblue;
}
.nav-link {
  color: aliceblue !important;
}
.navbar.navbar-expand-lg.bg-body-tertiary {
  background-color: #00a06b !important;
}

html,
body {
  font-family: "Roboto", Arial, sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: -12px 0px 0px 0px;
  background-image: linear-gradient(to bottom, #051d49, #020f25, #01040a);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a,
a:visited,
a:hover {
  color: #e6e6ea;
  text-decoration: none;
  font-weight: 900;
}

h1 {
  display: block;
  margin: 0 auto 25px auto;
  text-align: center;
  font-size: 1.92em;
  font-weight: 600;
  letter-spacing: -0.055em;
}
h2 {
  display: block;
  margin: 0 auto 60px auto;
  text-align: center;
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: -0.015em;
}

.label {
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}
.navbar {
  border-bottom: 2px solid #e6e6ea;
  box-shadow: 0 10px 10px -10px #3a5588;
  font-weight: 900;
}
.navbar-brand:hover {
  color: #e6e6ea;
}
.nav-link {
  border-radius: 20px;
}
.nav-link:hover {
  color: #01040a !important;
  background-color: #e6e6ea;
}
.dropdown-menu {
  color: #e6e6ea;
  background-color: #00a06b;
}
.searchBar {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #e6e6ea;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 2.5rem 0 2rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
.login-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  padding-top: 5px;
}
.btnLogin-popup {
  width: 90px;
  height: 40px;
  background: transparent;
  border: 2px solid #e6e6ea;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  color: #e6e6ea;
  font-weight: 900;
  margin-left: 50px;
  background-image: linear-gradient(
    to right,
    #051d49 0%,
    #020f25 51%,
    #00767a 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: #e6e6ea;
  display: inline;
}
.btnLogin-popup:hover {
  background-position: right center; /* change the direction of the change here */
  color: #e6e6ea;
  text-decoration: none;
}
.btnSignUp-popup {
  width: 90px;
  height: 40px;
  border: 2px solid #e6e6ea;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  color: #e6e6ea;
  font-weight: 900;
  margin-right: 20px;
  background-image: linear-gradient(
    to right,
    #051d49 0%,
    #020f25 51%,
    #590094 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: #e6e6ea;
  display: inline;
}
.btnSignUp-popup:hover {
  background-position: right center; /* change the direction of the change here */
  color: #e6e6ea;
  text-decoration: none;
}
.interests {
  display: flex;
  padding: 20px;
  margin-top: 15px;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  width: auto;
  max-width: 25%;
  height: 50px;
  align-items: center;
  background-color: #00a06b;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  word-break: break-word;
  padding: 0 5px;
}
.card:hover {
  background-color: #027c53;
}
.card-img-top {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  margin-right: 5px;
}
.card-title {
  font-size: 18px;
  margin: 0px;
  color: #e6e6ea;
  font-family: "Inter", sans-serif;
}
.gallery-view {
  width: 95%;
  height: 200%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 8px;
  margin: auto;
}
.image-view {
  width: calc(100% / 6);
  height: fit-content;
}
.image-view img {
  padding: 0px 8px;
  border-radius: 15px;
  margin: 8px 0px;
  vertical-align: middle;
  width: 100%;
  height: auto;
}
.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #00767a;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}

.fab-icon-holder:hover {
  box-shadow: 0 6px 20px #949499;
  transform: scale(1.2);
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  font-size: 25px;
  color: #ffffff;
}

.fab {
  width: 60px;
  height: 60px;
  background: #00a06b;
}

.fab-options {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 70px;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover + .fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: #666666;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

/* Media query for responsive img gallery */
@media (max-width: 1684px) {
  .card-title {
    font-size: 16px;
  }
  .image-view {
    width: calc(100% / 5);
  }
  .gallery-view{
    height: 250%;
  }
}
@media (max-width: 1200px) {
  .card-title {
    font-size: 15px;
  }
  .image-view {
    width: calc(100% / 4);
  }
  .gallery-view{
    height: 300%;
  }
}
@media (max-width: 992px) {
  .card-title {
    font-size: 13px;
  }
  .image-view {
    width: calc(100% / 3);
  }
  .gallery-view{
    height: 400%;
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 768px) {
  .card-title {
    font-size: 12px;
  }
  .image-view {
    width: calc(100% / 3);
  }
  .gallery-view{
    height: 400%;
  }
}
@media (max-width: 480px) {
  .card-title {
    font-size: 11px;
  }
  .image-view {
    width: calc(100% / 2);
  }
  .gallery-view{
    height: 600%;
  }
}
